// В этом файле должны быть стили для БЭМ-блока base, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.shadow-custom {
  box-shadow: 0px 20px 30px rgba(59, 66, 86, 0.04);
}
