// В этом файле должны быть стили для БЭМ-блока tab, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tab {

  $block-name:                &; // #{$block-name}__element


  &--product {

    .nav-tabs {
      border: none;
    }

    .nav-link {
      padding-left: 0;
      color: #848E99;
      font-weight: 600;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background: transparent;
        display: inline-block;
        margin-left: 10px;
      }

      &.active {
        background: transparent;
        &:after {
          background: #EA3B54;
        }
      }
    }
  }
}
