// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product {

  $block-name:                &; // #{$block-name}__element

  &__header {
  }
  &__header-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__header-heading {
    margin-right: auto;
    font-weight: 700;
  }
  &__header-info {
    display: flex;
    align-items: center;
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: transparent;
      display: inline-block;
      margin-left: 10px;
    }

    &.in-stock {
      &:after {
        background: #EA3B54;
      }
    }
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__quantity {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;

    .stepper {
      margin-right: 40px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
  }
}
